*{ margin: 0; padding: 0;}
body
{
	background: url(../images/dark_wood.png);
}
#Principal 
{
	position: absolute;
	width: 35em;
	height: 47em;
	margin: 5em 15em 10em 15em;
	top: 1em;
	left: 8em;
	background: url(../images/grey_wash_wall.png);
	color: #fff;
	padding: 4em 2em 2em 2em;
	z-index: 2;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}
.indicator
{
	margin-bottom: 0px;
	margin-left: 10px;
	max-height: 5px;
	margin-top: -30px;
	font-family: aharoni;
	font-weight: bolder;
}
.txtbx
{
	display: block;
	margin: -15px 10px 30px 50px;
	width: 210px;
	height: 33px;
	padding: 5px 10px 0px 8px;
	/*margin-left: 280px;
	margin-top: -20px;*/
	font-family: aharoni;
	font-weight: lighter;
}
.txtbx:hover
{
	border: thin;
	box-shadow: 9px 9px 13px #8DAAB2;	
}
.txtbx:focus
{
	width: 230px;
}

#bnt_aceptar
{
	background-color: gray; 
	width: 100px;
	height: 40px;
	margin: 5px 100px 100px 250px;
	padding: 3px;
}
#bnt_aceptar:hover
{
	background-color: #A4A4A4;
	width: 105px;
	height: 45px;
	margin: 5px 100px 100px 250px;
	padding: 3px;
}
.txtbtn
{
	font-family: aharoni;
	font-weight: bold;
	color: white;
}
#Tabla 
{
	margin-left: 30px;
	height: 330px;
	border-spacing: 0px;
	font-family: aharoni;
	font-weight: bolder;
	color: white;
}
#Imagen
{
	margin: 15px 50px 50px 150px;
	border: 15px 15px 15px 15px;
	color: black;
}
#Selec
{
	margin: 10px 50px 50px 100px;
}
#Title
{
	margin: 2em 30em 20em 37em;
	color:#fff;
	font-family: aharoni;
	font-weight: bold;
}
.Alinear
{
	margin-top: 20px;
}
#Login
{
	position: absolute;
	width: 30em;
	height: 13em;
	margin: 5em 15em 10em 15em;
	top: 1em;
	left: 8em;
	background: url(../images/grey_wash_wall.png);
	color: #fff;
	padding: 5em 4em 2em 2em;
	z-index: 2;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}
#Tabla2
{
	margin-left: 30px;
	height: 120px;
	width: 480px;
	font-family: aharoni;
	font-weight: bolder;
	color: white;
}
#btncancelar
{
	position: absolute;
	background-color: gray; 
	width: 100px;
	height: 40px;
	margin: 5px 20px 100px 20px;
	padding: 3px;
}
#btncancelar:hover
{
	background-color: #A4A4A4;
	width: 105px;
	height: 45px;
	margin: 5px 20px 100px 20px;
	padding: 3px;
}
#btnaceptar
{
	position: absolute;
	background-color: gray; 
	width: 100px;
	height: 40px;
	margin: 5px 10px 100px 100px;
	padding: 3px;
}
#btnaceptar:hover
{
	background-color: #A4A4A4;
	width: 105px;
	height: 45px;
	margin: 5px 10px 100px 100px;
	padding: 3px;
}
#Olvcontra
{
	position: absolute;
	font-family: aharoni;
	font-weight: bold;
	margin: 70px 0px 100px 0px;
}
#Olvcontra:hover
{
	font-size: 20px;
}
#Rec
{
	position: absolute;
	width: 25em;
	height: 16em;
	margin: 5em 15em 10em 15em;
	top: 1em;
	left: 13em;
	background: url(../images/grey_wash_wall.png);
	color: #fff;
	padding: 2em 2em 2em 2em;
	z-index: 2;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}
.correo
{
	position: absolute;
	width: 20px;
	height: 20px;
	margin: 5px 10px 5px 50px;
	font-family: aharoni;
	font-weight: bold;
}
.nombres
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 80px;
	max-height: 5px;
	font-family: aharoni;
	font-weight: bolder;
}
.nombres:hover
{
	border: transparent;
	border-bottom: 9px 9px 13px #8DAAB2;
	font-size: 30px;
}
.parrafo
{
	font-family: aharoni;
	font-weight: lighter;
	color: white;
	text-align: center;
}
.btnenviar
{
	position: absolute;
	background-color: gray; 
	width: 100px;
	height: 40px;
	margin: 5px 10px 100px 150px;
	padding: 3px;
	color: white;
	font-family: aharoni;
	font-weight: bold;
}
.btnenviar:hover
{
	background-color: #A4A4A4;
	width: 105px;
	height: 45px;
	margin: 5px 10px 100px 150px;
	padding: 3px;
	font-family: aharoni;
	font-weight: bold;
}
#Tit
{
	margin: 2em 20em 20em 30em;
	color:#fff;
	font-family: aharoni;
	font-weight: bold;
}
#Tabla3
{
	margin-left: 30px;
	height: 120px;
	width: 500px;
	font-family: aharoni;
	font-weight: bolder;
	color: white;
}

